#mainMenu {
    height: 100%;
    background: $panel;
    color: $text;
    border: tall $background;
}

Button {
  width: 1fr;
}

.main-menu-title {
  text-style: bold;
  height: 100%;
  content-align: center top;
}
