#mainMenu {
    height: 100%;
    margin: 1 4;
    background: $panel;
    color: $text;
    border: tall $background;
    padding: 1 2;
}

.main-menu-title {
  align-vertical: top;
  text-style: bold;
  height: 100%;
  content-align: center top;
}

Button {
  width: 15%;
}

.buttons {
  width: auto;
  height: auto;
  content-align-vertical: middle;
}

.buttons {
  width: auto;
  height: auto;
  dock: bottom;
}
