#mainMenu {
    height: 50%;
    margin: 4 8;
    background: $panel;
    color: $text;
    border: tall $background;
    padding: 1 2;
}

.main-menu-title {
  text-style: bold;
  height: 100%;
  content-align: center top;
}

.buttons {
  width: 100%;
  height: 100%;
  content-align-vertical: center middle;
}

.buttons {
  width: 100%;
  height: auto;
  dock: bottom;
}
